html, body {
    padding: 0;
    margin: 0;

    font-family: "comic sans ms";
}

.menu {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
    display: flex;
    justify-content: space-between;
}

.start {
    width: 100px;
}

.field {
    width: 400px;
    display: flex;
    flex-wrap: wrap;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    border: 3px solid black;
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}

.goblin {
    width: 100%;
}